html{
  background-color: #ffffcc;
  padding: 20%;
}
.container{
  margin: 30px;
  text-align: center;
}
.title{
  font-family: smoothie shoppe;
  font-size: 4em;
  text-align: center;
  color: #aa80ff;

}
.games{
  border-radius: 2px;
  background-color: white;
  height: 250px;
  width: 350px;
  text-align: center;
  display: inline-block;
  border: solid 2px;
  border-color: #b2b2cc;
  border-radius: 10px;
  margin: 10px;
}
.game_title{
  margin-top:190px;
  font-family: gillsans;
  font-size: 1em;
}
