html{
  background-color: #ffffcc;
}

.game{
  border-radius: 2px;
  background-color: #99ccff;
  height: 200px;
  width: 300px;
  text-align: center;
  display: block;
}
.game_title{
  margin-top: 100px;
}
